<footer class="footer">
    <div class="container">
        <p class="pull-right"><a href="#"><%= raw t('pages.layout.back_top') %></a></p>
        <p>
            <%= t'pages.layout.built_with_love' %>
            · <a href="#"><%= raw t('pages.layout.privacy_term') %></a>
        </p>
    </div>
</footer>
