<footer class="footer">
    <div class="container">
        <p class="pull-right"><a href="#"><%= t('pages.layout.back_top').html_safe %></a></p>
        <p>
            <%= t'pages.layout.built_with_love' %>
            · <a href="#"><%= t('pages.layout.privacy_term').html_safe %></a>
        </p>
    </div>
</footer>