<h1>O que é?</h1>
<p>O 'doador de código' nasceu com o propósito de unir programadores iniciantes com projetos sociais que precisam de um portal online, ou qualquer tipo de presença na internet para divulgar suas causas.</p>

<h1>Por que?</h1>
<p>Existe uma enorme comunidade de desenvolvedores de software que se ajudam todos os dias com revisão de código uns dos outros(<a href="http://tableless.com.br/contribuindo-em-projetos-open-source-com-o-github/" target="_blank">ver seção Pull Request</a>) e uma quantidade enorme de projetos sociais que são desconhecidos e boa parte da população justamente por estarem fora da Web. Juntando tudo isso, tentamos construir vidas melhores se valendo da internet e do desenvolvimento de software. Gostou? Então continue lendo... <p>

<h1>Como participar?</h1>
<p>Você pode participar de várias formas</p>

<ul>
  <li>Sendo um mentor de desenvolvedores iniciantes</li>
  <li>Desenvolvendo sites para os projetos sociais</li>
  <li>Cadastrando sua idéia(projeto social) para desenvolvermos seu site</li>
</ul>

