<!DOCTYPE html>
<html>
<head>
  <title>Doador de Código</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer>
  Feito com ♥ por <a href="http://doadordecodigo.com.br" target="_blank">Doador de Código</a>
</footer>
</html>
